@keyframes right {
  from {
    opacity: 1;
    background-color: white;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 0;
    background-color: green;
    transform: translate(130px, -100px)
      rotateZ(-45deg);
  }
}

@keyframes left {
  from {
    opacity: 1;
    background-color: white;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 0;
    background-color: red;
    transform: translate(-130px, -100px)
      rotateZ(45deg);
  }
}

.tinder-container {
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.preview-container {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 300px;
  text-align: center;
  position: relative;
}

.preview {
  position: absolute;
  top: 0px; left: 0px;
  bottom: 0px; right: 0px;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.options-container {
  margin-top: 50px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.dislike {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100px;
  text-align: center;
  background-color: red;

  position: absolute;
  top: 40px;
  left: calc(50% - 100px);
}

.like {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100px;
  text-align: center;
  background-color: green;

  position: absolute;
  top: 40px;
  right: calc(50% - 100px);
}

.swipe-right {
  z-index: 10;
  animation: 0.4s linear right;
  animation-iteration-count: 1;
  opacity: 0;
}

.swipe-left {
  z-index: 10;
  animation: 0.4s linear left;
  animation-iteration-count: 1;
  opacity: 0;
}